@font-face {
    font-family: 'GeosansLightRegular';
    src: url('style/geosanslight-webfont.eot');
    src: url('style/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('style/geosanslight-webfont.woff') format('woff'),
         url('style/geosanslight-webfont.ttf') format('truetype'),
         url('style/geosanslight-webfont.svg#GeosansLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('style/bebas___-webfont.eot');
    src: url('style/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('style/bebas___-webfont.woff') format('woff'),
         url('style/bebas___-webfont.ttf') format('truetype'),
         url('style/bebas___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body
{
    font-size: 16px;
}

input
{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

#bible
{
    font-family: GeosansLightRegular;
    font-size: 1em;
    line-height: 1.5em;
}

#bible .column.one
{
    box-shadow: 0px 0px 5px black;
}

#bible .column .chapter
{
    padding: 0.7em;
}



#title
{
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
    height: 3em;

    box-shadow: 0px 0px 5px black;
    background: rgba(0, 0, 0, 0.7);
}
#title,
#title input
{
    font-family: BebasRegular;
    color: white;

    text-shadow:0 0 5px black;
}
#title .book
{
    text-transform: uppercase;
    font-size: 1.8em;
}
#title .chapter
{
    font-size: 2em;
    opacity: 0.7;
}