<!DOCTYPE html>
<html ng-app="bread" lang="en">

<head>
    <title>bRead</title>
    <link rel="stylesheet" type="text/css" href="script/style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="script/style/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="script/style/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container" data-ng-controller="bible">

        <nav id="nav" class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">bRead</a>
                <ul class="nav navbar-nav">
                    <li><a href="" ng-click="previous()"><span class="glyphicon glyphicon-chevron-left"></span> previous</a></li>
                    <li><p class="navbar-text caps">{{title() + " in " + translation}}</p></li>
                    <li><a href="" ng-click="next()">next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
            </div>
        </nav>

        <div id="bible">
            <div class="row">
                <div class="col-md-8">
                    <div class="chapter" data-ng-repeat="chapter in passage" translation="{{chapter._translation}}" book="{{chapter._book}}" book-id="{{chapter._book_id}}" chapter="{{chapter._n}}" data-ng-mouseup="highlight()">
                        <span class="verse" data-ng-repeat="verse in chapter.verse" verse="{{$index + 1}}">
                            <span class="n">{{$index + 1}}</span>
                            {{verse}}
                        </span>
                    </div>
                </div>

                <div class="col-md-4">                    
                    <div data-ng-repeat="payload in userContent" ng-show="userContent">
                        <div data-ng-repeat="passage in userContent.payload.passage" data-passage-id="{{passage._id}}">
                            <span>{{reference(passage)}</span>
                            <div>Notes:
                                <span data-ng-repeat="note in passage.note">{{note}}</span>
                            </div>
                            <div>Tags:
                                <span data-ng-repeat="tags in passage.tag">{{tag}}</span>
                            </div>
                        </div>
                    </div>

                    <form data-ng-submit="uc.save()">
                        <div class="form-group">
                            <textarea id="notes" data-ng-model="notes" class="form-control" placeholder="Notes"></textarea>
                        </div>
                        <div class="form-group pull-right">
                            {{reference(select)}}
                            <span class="label label-primary" ng-click="togglePrivacy()">{{privacy}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="script/library/angular.min.js"></script>
    <script type="text/javascript" src="script/library/angular-resource.min.js"></script>
    <script type="text/javascript" src="script/library/xml2json.js"></script>
    <script type="text/javascript" src="ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="script/library/book.js"></script>
    <script type="text/javascript" src="script/ng.js"></script>
</body>

</html>