<!DOCTYPE html>
<html ng-app>

<head>
    <title>bread</title>
    <script type="text/javascript" src="script/library/angular.js"></script>
    <script type="text/javascript" src="script/library/angular-resource.js"></script>
    <script type="text/javascript" src="script/library/xml2json.js"></script>
    <script type="text/javascript" src="script/library/book.js"></script>
    <script type="text/javascript" src="script/ng.js"></script>
    <!--
    <script type="text/javascript" src="script/library/jquery.js"></script>
    <script type="text/javascript" src="script/library/hotkeys.js"></script>
    <script type="text/javascript" src="script/library/stats.js"></script>
    <script type="text/javascript" src="script/init.js"></script>
    <script type="text/javascript" src="script/data.js"></script>
    <script type="text/javascript" src="script/render.js"></script>
    <script type="text/javascript" src="script/view.js"></script>
    -->
    
    <link rel="stylesheet" type="text/css" href="script/style/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="script/style/bootstrap-responsive.min.css"/>
    
    <link rel="stylesheet" type="text/css" href="script/style/style.css"/>
</head>

<body>
    <div class="container" data-ng-controller="bible">

        <div id="nav" class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">bread</a>
                <ul class="nav">
                    <li><a href="" ng-click="previous()"><i class="icon-chevron-left"></i> previous</a></li>
                    <li><a href="" ng-click="next()">next <i class="icon-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>

        <div id="title">
           <h1 class="book">{{title()}}</h1>
        </div>

        <div id="bible">
            <div class="row">

                <div class="column one span6">
                    <div class="chapter" data-ng-repeat="chapter in passage" translation="{{chapter._translation}}" book="{{chapter._book}}" book-id="{{chapter._book-id}}" chapter="{{chapter._n}}">
                        <span class="verse" data-ng-repeat="verse in chapter.verse" verse="{{$index + 1}}">
                            <span class="n">{{$index + 1}}</span>
                            {{verse}}
                        </span>
                    </div>
                </div>

                <div class="column two span6"></div>
            </div>
        </div>

    </div><!-- end container -->
</body>

</html>