@import url('reset.css');

#nav
{
    position: fixed;
    z-index: 1;
}

.column
{
    position: absolute;
    display: none;
}

.column.one
{
    left: 0;
    display: block;
}

.column.two
{
    right: 0;
}