@font-face {
    font-family: 'GeosansLightRegular';
    src: url('font/geosanslight-webfont.eot');
    src: url('font/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/geosanslight-webfont.woff') format('woff'),
         url('font/geosanslight-webfont.ttf') format('truetype'),
         url('font/geosanslight-webfont.svg#GeosansLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasRegular';
    src: url('font/bebas___-webfont.eot');
    src: url('font/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebas___-webfont.woff') format('woff'),
         url('font/bebas___-webfont.ttf') format('truetype'),
         url('font/bebas___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body
{
    font-size: 16px;
}
input
{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}


#title
{
    position: fixed;
    z-index: 2;
    width: 512px;
    bottom: 0;
    left: 50%;
    margin-left: -512px;
    height: 3em;

    background: rgba(0,0,0, 0.6);
}
#title,
#title input
{
    font-family: BebasRegular;
    color: white;

    text-shadow:0 0 5px black;
}
#title .book
{
    text-transform: uppercase;
    font-size: 1.8em;
}
#title .chapter
{
    font-size: 2em;
    opacity: 0.7;
}


#nav
{
    bottom: 0;
    right: 0;
}


#bible
{
    font-family: GeosansLightRegular;
    font-size: 1em;
    line-height: 1.5em;
    width: 1024px;
    position: relative;
    margin: 0 auto;
}
#bible .column.one
{
    box-shadow: 0px 0px 5px black;
}
#bible .column.two
{
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
#bible .column .chapter
{
    padding: 1.5em;
}
#bible .chapter .verse
{
    padding: .3em 0;
}
#bible .chapter .verse .n
{
    font-size: 70%;
}
#bible .verse.ui-selecting
{
    background: lightyellow;
}
#bible .verse.ui-selected
{
    background: yellow;
}
#bible .verse.ui-unselecting
{
    background: red;
}


#form
{
    border-bottom: 1px solid lightgray;
}
#form textarea
{
    border: none;
    resize: none;
    margin: 0;
    padding: 0;
    outline: none;
    display: block;
}
#form textarea.note,
#form textarea.tag
{
    width: 100%;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
#form textarea.note
{
    height: 6em;
}
#form textarea.tag
{
    height: 2em;
}
#form .reference
{
    width: 13%;
    float: right;
    display: block;
    font-family: GeosansLightRegular;
    color: #AAA;
    font-size: 1.2em;
    text-align: right;
    margin-top: 0.7em;
}
#form .content
{
    float: right;
    width: 87%;
}
#form textarea.start-verse,
#form textarea.end-verse
{
    height: 1em;
    width: 1.7em;
    font-family: GeosansLightRegular;
    color: #AAA;
    text-align: center;
    overflow: hidden;
}
#form textarea.start-verse
{
    font-size: 2em;
}
#form textarea.end-verse
{
    font-size: 1.2em;
    float: right;
}