@import url('reset.css');

#nav
{
    position: fixed;
    z-index: 2;
    display: none;
}

.column
{
    position: absolute;
}

.column.one
{
    left: 0;
    z-index: 1;
}

.column.two
{
    right: 0;
    display: none;
}

.chapter
{
    -webkit-column-count: 2;
}