@font-face {
    font-family: 'GeosansLightRegular';
    src: url('font/geosanslight-webfont.eot');
    src: url('font/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/geosanslight-webfont.woff') format('woff'),
         url('font/geosanslight-webfont.ttf') format('truetype'),
         url('font/geosanslight-webfont.svg#GeosansLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasRegular';
    src: url('font/bebas___-webfont.eot');
    src: url('font/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebas___-webfont.woff') format('woff'),
         url('font/bebas___-webfont.ttf') format('truetype'),
         url('font/bebas___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body
{
    font-size: 16px;
}
input
{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}


#title
{
    position: fixed;
    z-index: 1;
    width: 50%;
    bottom: 0;
    height: 3em;

    box-shadow: 0px 0px 5px black;
    background: rgba(0, 0, 0, 0.7);
}
#title,
#title input
{
    font-family: BebasRegular;
    color: white;

    text-shadow:0 0 5px black;
}
#title .book
{
    text-transform: uppercase;
    font-size: 1.8em;
}
#title .chapter
{
    font-size: 2em;
    opacity: 0.7;
}


#nav
{
    bottom: 0;
    right: 0;
}


#bible
{
    font-family: GeosansLightRegular;
    font-size: 1em;
    line-height: 1.5em;
}
#bible .column.one
{
    box-shadow: 0px 0px 5px black;
}
#bible .column .chapter
{
    padding: 0.7em;
}
#bible .chapter .verse
{
    padding: .3em 0;
}
#bible .chapter .verse .n
{
    font-size: 70%;
}


#bible .verse.ui-selecting
{
    background: lightyellow;
}
#bible .verse.ui-selected
{
    background: yellow;
}
#bible .verse.ui-unselecting
{
    background: red;
}