<form id="form" onsubmit="Data.send(); return false;" method="get">
    
    <span class="reference">
        <textarea class="start-verse" type="text" name="start_verse"></textarea>
        -<textarea class="end-verse" type="text" name="end_verse"></textarea>
    </span>

    <span class="content">
        <textarea class="note" name="content_note"></textarea>
        <textarea class="tag" name="content_tag"></textarea>
    </span>

    <input type="hidden" name="action" value="new"/>
    <input type="hidden" name="translation"/>

    <input type="hidden" name="start_book_id"/>
    <input type="hidden" name="start_chapter"/>
    <input type="hidden" name="end_book_id"/>
    <input type="hidden" name="end_chapter"/>

    <input type="submit"/>
</form>